<table cellpadding="10" cellspacing="1" border="1">
  <thead>
    <tr>
      <th>SUB_REGION</th>
      <th>STATE_NAME</th>
      <th>STATE_ABBR</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let feature of features | keyvalue">
      <td (click)="onClick(feature.key)">{{feature.value.attributes.SUB_REGION}}</td>
      <td (click)="onClick(feature.key)">{{feature.value.attributes.STATE_NAME}}</td>
      <td><button (click)="onPrint(feature.key)">Print!</button></td>
    </tr>
  </tbody>
</table>
